<div class="form-box">

  <div class="sidebar">
    <app-sidebar [steps]="steps"
                 [personalInfoFormValid]="personalInfoFormValid"
                 [selectedStep]="selectedStep"
                 (changeStep)="stepChanged($event)"></app-sidebar>
  </div>

  <div class="content">

    <ng-container *ngIf="!formSubmitted">
      <div class="p" [ngStyle]="{display: selectedStep && selectedStep.number === 1 ? 'block' : 'none'}">
        <app-personal-info #personalInfo (emitFormValid)="ChangeFormValid($event)" [steps]="steps"></app-personal-info>
      </div>

      <div class="p" [ngStyle]="{display: selectedStep && selectedStep.number === 2 ? 'block' : 'none'}">
        <app-select-plan #selectPlan [steps]="steps"></app-select-plan>
      </div>

      <div class="p" [ngStyle]="{display: selectedStep && selectedStep.number === 3 ? 'block' : 'none'}">
        <app-add-ons #addons [duration]="selectPlan.form.get('duration')?.value"></app-add-ons>
      </div>

      <div class="p" [ngStyle]="{display: selectedStep && selectedStep.number === 4 ? 'block' : 'none'}">
        <app-summary [selectPlanForm]="selectPlan.form"
                     [plans]="selectPlan.plans"
                     (changeStep)="stepChanged($event)"
                     [steps]="steps"
                     [addons]="addons.addons"
                     [addOnsForm]="addons.form"></app-summary>
      </div>

      <button class="submitFormBtn" (click)="submitForm(personalInfo.form, selectPlan.form, addons.form)" #submitFormBtn></button>

    </ng-container>

    <div class="p thankyou" *ngIf="formSubmitted">
      <app-thank-you></app-thank-you>
    </div>

    <!-- [disabled]="
                selectedStep.number === 1 ? personalInfoComp.form.invalid:
                  selectedStep.number === 2 ? selectPlanComp.form.invalid:
                    false
              " -->

    <div class="btn">
      <button [style.visibility]="selectedStep.number > 1 && !formSubmitted ? 'visible': 'hidden'"
              (click)="goToPreviousStep()"
              class="back">
        Go Back
      </button>
      <button [style.visibility]="selectedStep.number < 4 && !formSubmitted ? 'visible': 'hidden'"
              (click)="goToNextStep()"
              [disabled]="!personalInfoFormValid"
              >
        Next Step
      </button>
      <button *ngIf="selectedStep.number === 4 && !formSubmitted"
              [disabled]="!personalInfoFormValid"
              (click)="submitFormBtn.nativeElement.click()">Confirm</button>
    </div>

  </div>

</div>
