@import "../src/variables/variables";

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('./assets/fonts/Ubuntu-Medium.ttf');
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu-Regular', sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  min-height: 100vh;
}
